* 	
	{
	box-sizing: border-box;
	}
#wrapper
	{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
	}
body 
	{
	background-color: #0e0e0e;
	color: #90abab;
	font-family: "Crimson Pro", serif;
	font-size: 16px;
	}
p
	{
	line-height: 1.4em;
	}
div
	{
	text-align: justify;
	text-justify: interword;
	}
.header 
	{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	}
.header h1 
	{
	font-size: 55px;
	color: #821424;
	}

.header p
	{
	color: #821424;
	}
h1 
	{
	margin: 0; padding: 10px;
	font-family: "Oswald", sans-serif;
	font-size: 30px;
	}
h2 
	{
	display: block;
	border: 1.5px solid #821424;
	border-radius: 50px;
	background-color:#390007;
	/*color: #f0f4f5;*/
	color: #b3e3e1;
	text-align: center;
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	font-size: 20px;
	}
h3
	{
	display: block;
	font-family: "Libre Baskerville", serif;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
	color: #821424;
	margin-top: -1px;
	margin-bottom: -1px;
	}
h4
	{
	display:block;
	font-family: "Caprasimo", serif;
	color:	#821424;
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	margin-top: -1px;
	margin-bottom: -1px;
	}
nav 
	{
	position: sticky;
	top: 0;
	}
nav ul 
	{
    text-align: center;
    padding: 0;
    margin: 5;
    background-color: #0e0e0e;
	}

nav ul li 
	{
    display: inline-block; 
    margin: 0 10px; 
	}
	
nav ul li a 
	{
    display: block;
    color: #b3e3e1;
    text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
    padding: 14px 16px;
    text-decoration: none;
	}

.fullwidth
	{
	width: 100%;
	padding: 15px;
	clear: both;
	}
.column 
	{
	float: left;
	width: 50%;
	padding: 10px;
	}
.row::after 
	{
	content: "";
	display: table;
	clear: both;
	}
@media screen and (max-width:600px) 
	{
		.column 
			{
			width: 100%;
			}
	}
hr
	{
	border-top: 2px dashed #821424;
	}
.team
	{
	text-align: center;
	}
.reviews h3
	{
	color:#5b101b;
	display: block;
	}
blockquote 
	{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px; 
	} 
a.button:link
	{
	text-decoration: none;
	text-align: center;
	}
a.button:link, a.button:visited
	{
	border: 1.5px solid none;
	border-radius: 50px;
	background-image: radial-gradient(circle, #e9c9a0, #d47f61, #a51f3b, #a51f3b, #61122b, #2c1d21, #0e0e0e);
	font-family: "Crimson Pro", serif;
	color: #0e0e0e;
	font-size: 13px;
	padding: 5px 25px;
	display: inline-block;
	position: static;
	margin-top: 5px;
	margin-bottom: 5px;
	}
a.button:hover, a.button:active
	{
	background-image: radial-gradient(circle, #0e0e0e, #821424, #b3e3e1);
	color: #b3e3e1;
	}