/*styles the web page background with a fixed image of a petrol station*/
body 
    {
    background-image: url("petrol-calc-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

/*styles the calculate button as a padded rounded button with a contrasting background to the text*/
.calculate-button 
    {
    margin: 3em auto 0em auto;
    padding: .3em 4em .3em 4em;
    display: block;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid #a91c16;
    border-radius: 2em;
    background-color: #a91c16;
    color: #e4deb5;
    }

/*changes background color when user hovers over button*/
.calculate-button:hover
    {
    background-color: #821712;
    }

/*styles the form as a centered and padded rounded interface with a drop shadow filter*/
#center form
    {
    border: 1px solid #171211;
    border-radius: 2em;
    background-color: #171211;
    padding: 2em 3em 2em 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: drop-shadow(-3px 8px 20px #030202);
    }

/*styles the input text with a custom font and field color*/ 
#center input
    {
    width: 100%;
    font-family: "Helvetica", sans-serif;
    font-size: 1em;
    margin: .5em 0em .5em 0em;
    background-color: #f3eee1;
    }

/*changes to a darker color when the user interacts with the input field*/
#center input:focus
    {
    background-color: #d2cdc0;
    }

/*styles all <h1> elements with a custom font, size, and color*/
form h1
    {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
    color: #3c53ac;
    }

/*styles all <h4> elements with a custom font, size, and color, specified with 0 margin*/
form h4
    {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0em;
    color: #e4deb5 
    }

/*styles the label to a faint color and size below the input field*/
form label
    {
    font-family: "Helvetica", sans-serif;
    color: #736d63;
    font-size: .8em;
    }

/*specifies the right margin of the container*/
.field
    {
    margin: 0em 0em .5em 0em;
    }

/*styles the the total cost as a white field*/
#total-cost 
    {
    border: solid 1px #f3eee1;
    background-color: #f3eee1;
    width: 40%;
    display: inline-block;
    margin: 0 auto 0 auto;
    text-align: center;
    color: #171211;
    }

/*styles all <p> elements with a custom font and color*/
p 
    {
    font-family: "Helvetica", sans-serif;
    color: #f3eee1;
    }

/*centers the container with a 0 top margin*/
#center-output
    {
    margin-top: 0;
    text-align: center;
    }

/*styles the reset button as a rounded padded button*/
.reset-button
    {
    border: 1px solid #281f1e;
    background-color: #281f1e;
    border-radius: 2em;
    color: #e8e2b9;
    margin: 2em auto 0em auto;
    padding: .3em 2em .3em 2em;
    }

/*changes background color when user hovers over button*/
.reset-button:hover
    {
    background-color: #3a2c2a;
    }